{% extends 'manager/_base.html' %}
{% load static %}

{% block content %}

<div class="content mt-3">
  {% if success_message %}
    <div class="col-sm-12">
        <div class="alert  alert-success alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-success">Successfully</span> {{success_message}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>	
  {% endif %}          
  {% if error_message %}
    <div class="col-sm-12">
        <div class="alert  alert-danger alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-danger">Failed</span> {{error_message}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>	
  {% endif %}            
</div> 
        
<div class="col-lg-12">
  <!-- Collapsable Card Example -->
  <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Client Details</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample">
      <div class="card-body"> 
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Registered Client Details</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Enquiry Client Details</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Import(ed) Client Details</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">
                    <input type="text" placeholder="Search.." id="myInput" onchange="filterFunction()" onkeypress="filterFunction()">
                  </th>
                  <th scope="col">
                  <input type="number" id="selectStartsFrom" placeholder=" Starts from" onchange="sortingEmails()" onkeypress="sortingEmails()" min="1" step="1">
                  <input type="number" id="selectEndsAt" placeholder=" Ends at" onchange="sortingEmails()" onkeypress="sortingEmails()" min="1" step="1">
                  </th>
                  <th id="error" scope="col" style="color:green">Everithing is going right.</th>
                </tr>
              </thead>
          </table>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Sl.</th>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody  id="list">
              {% for client in clients %}
              <tr onclick="copyEmailFunction({{ client.id }})">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ client.name }}</td>
                <td>0{{ client.phone }}</td>	  
                <td id="myInput{{ client.id }}">{{ client.email }}</td>	               
              </tr>
              {% endfor %}
             </tbody>
           </table>         
          </div>   
          
          
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <table class="table table-hover">
              <thead>
                  <tr>
                    <th scope="col">
                      <input type="text" placeholder="Search.." id="myInputE" onchange="filterFunctionE()" onkeypress="filterFunctionE()">
                    </th>
                    <th scope="col">
                    <input type="number" id="selectStartsFromE" placeholder=" Starts from" onchange="sortingEmailsE()" onkeypress="sortingEmailsE()" min="1" step="1">
                    <input type="number" id="selectEndsAtE" placeholder=" Ends at" onchange="sortingEmailsE()" onkeypress="sortingEmailsE()" min="1" step="1">
                    </th>
                    <th id="errorE" scope="col" style="color:green">Everithing is going right.</th>
                  </tr>
                </thead>
              </table>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Sl.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                  </tr>
                </thead>
                <tbody  id="list2">
                {% for client in enquiry_clients %}
                <tr onclick="copyEmailFunctionE({{ client.id }})">
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ client.name }}</td>
                  <td>0{{ client.phone }}</td>	  
                  <td id="myInputE{{ client.id }}">{{ client.email }}</td>	               
                </tr>
                {% endfor %}
               </tbody>
             </table> 
          </div>
          
          
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table class="table table-hover">
              <thead>
                  <tr>
                    <form action="{% url 'm_client_marketing' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                      <th scope="col">
                        <input type="text" placeholder=" Input category name" id="catagoryName" name="categoryName">
                      </th>
                      <th scope="col">
                        <input type="file" name="file">
                      </th>
                      <th scope="col">
                      <input type="submit" class="btn btn-warning" value="Create">
                      </th>
                    </form>
                  </tr>
                </thead>
            </table> 
            
            <div class="bd-example bd-example-tabs">
              <div class="row">
                <div class="col-3">
                  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                   {% for market in marketing %}
                    <a class="nav-link" id="v-pills-tab-{{market.id}}" data-toggle="pill" href="#v-pills-{{market.id}}" role="tab" aria-controls="v-pills-{{market.id}}" aria-selected="false">{{market.category_name}}</a>
                   {% endfor %}         
                  </div>
                </div>
                <div class="col-9">
                  <div class="tab-content" id="v-pills-tabContent">
                   {% for market in marketing %}
                    <div class="tab-pane fade" id="v-pills-{{market.id}}" role="tabpanel" aria-labelledby="v-pills-tab-{{market.id}}">
                      <table class="table table-hover">
                        <thead class="table-info">
                          <tr>
                            <th scope="col">
                              <input type="text" placeholder=" Search.." id="myInputI{{market.id}}" onchange="filterFunctionI{{market.id}}()" onkeypress="filterFunctionI{{market.id}}()">
                            </th>
                            <th scope="col">
                            <input type="number" id="selectStartsFromI{{market.id}}" placeholder=" Starts from" onchange="sortingEmailsI{{market.id}}()" onkeypress="sortingEmailsI{{market.id}}()" min="1" step="1">
                            <input type="number" id="selectEndsAtI{{market.id}}" placeholder=" Ends at" onchange="sortingEmailsI{{market.id}}()" onkeypress="sortingEmailsI{{market.id}}()" min="1" step="1">
                            </th>
                            <th id="errorI{{market.id}}" scope="col" style="color:green">Everithing is going right.</th>
                            <th id="errorI{{market.id}}" scope="col" style="color:green">                          
                                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                  Actions
                                </a>                                                     
                            </th>                          
                          </tr>
                          <tr>
                            <div class="collapse" id="collapseExample">
                              <div class="card card-body">
                                <div class="row"> 
                                
                                  <form action="{% url 'm_client_marketing_more_email' %}" method="POST" enctype="multipart/form-data" class="col">
                                    {% csrf_token %}                                
                                    <input type="text" name="categoryName" value="{{market.id}}"hidden>                           
                                    <input type="file" name="file">                           
                                    <input type="submit" class="btn btn-warning" value="Add More">                               
                                  </form>                                      
                                  <form action="" method="POST" class="col">
                                    {% csrf_token %}                            
                                    <input type="submit" class="btn btn-success" value="Edit name">                           
                                  </form>                                      
                                  <form action="{% url 'm_client_marketing_delete_category' %}" method="POST" class="col">
                                    {% csrf_token %}
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter{{market.id}}">
                                      Delete
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter{{market.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                      <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle{{market.id}}">Delete Category</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            Are you sure, you want to delete {{market.category_name}}?
                                            <input type="text" name="categoryName" value="{{market.id}}"hidden>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="submit" class="btn btn-secondary">Yes</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>                                     
                                  </form>  
                                  
                                </div>
                              </div>
                            </div> 
                          </tr>
                        </thead>
                      </table>                       
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Sl.</th>
                            <th scope="col">Email</th>
                          </tr>
                        </thead>
                        <tbody  id="listI{{market.id}}">
                          {% for emails in marketing_emails %}
                            {% if market == emails.category_name %}
                              <tr onclick="copyEmailFunctionI{{market.id}}({{emails.id}})">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td id="myInputI{{emails.id}}">{{ emails.email }}</td>	               
                              </tr>                        
                            {% else %}
                            {% endif %}  
                          {% endfor %}
                        </tbody>
                       </table>
                    </div>                     
                   {% endfor %} 
                  </div>
                </div>
              </div>
            </div> 
            
        </div>        
      </div>
    </div>
  </div>
</div>

<script>
// ------------Registered Client---------------

//Click on the email and it will copy that email
function copyEmailFunction(id) {
  /* Get the text field */
  var copyText = document.getElementById("myInput"+id).innerText;  
  // Create a dummy input to copy the string array inside it
  var dummy = document.createElement("input");
  // Add it to the document
  document.body.appendChild(dummy);
  // Set its ID
  dummy.setAttribute("id", "dummy_id");
  // Output the array into it
  document.getElementById("dummy_id").value=copyText;
  // Select it
  dummy.select();
  // Copy its contents
  document.execCommand("copy");
  // Remove it as its not needed anymore
  document.body.removeChild(dummy);
  document.getElementById("myInput"+id).innerText = "COPIED";
  /* Alert the copied text */
  setInterval(function(){ document.getElementById("myInput"+id).innerText = copyText; }, 3000);
}


// For search bar 
function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("list");
  a = div.getElementsByTagName("tr");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}


// sorting number of emails and copy all of them using above functions 
function sortingEmails() {
  // getting the value from input
  var selectStartsFrom = document.getElementById('selectStartsFrom').value;
  var selectEndsAt     = document.getElementById('selectEndsAt').value;
  var selectEndsAt     = (selectEndsAt=="")?selectStartsFrom:selectEndsAt;  
  
  //Creating a list between range
  var range = [];
  for (var i = parseInt(selectStartsFrom); i <= selectEndsAt; i++) {
    range.push(i);
  }
  
  // Removing rows which are not in range
  var a, i, emails='', count=0;
  div    = document.getElementById("list");
  a      = div.getElementsByTagName("tr");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].cells[0].textContent || a[i].cells[0].innerText;
    if(range.includes(parseInt(txtValue))){
      a[i].style.display = "";
      emails += a[i].cells[3].textContent+';';
      count++;
    }else {
      a[i].style.display = "none";
    }
  }
  // console.log(emails)
  
  // Copy emails  
  // Create a dummy input to copy the string array inside it
  var dummyy = document.createElement("input");
  // Add it to the document
  document.body.appendChild(dummyy);
  // Set its ID
  dummyy.setAttribute("id", "dummyy_id");
  // Output the array into it
  document.getElementById("dummyy_id").value=emails;
  // Select it
  dummyy.select();
  // Copy its contents
  document.execCommand("copy");
  // Remove it as its not needed anymore
  document.body.removeChild(dummyy);  
  
  
  // VALIDATING INPUTS
  if (selectStartsFrom==''){
    if (selectStartsFrom=='' && selectEndsAt==''){
      filterFunction(); // Showing all emails as no shortig 
    } else{
      document.getElementById('error').style.color='red';
      document.getElementById('error').textContent='You must fillup "Starts from" first.';
      document.getElementById('selectEndsAt').value='';
      document.getElementById('selectEndsAt').disabled=true;
      filterFunction(); // showing all emails
    }
  }else if(range.length>500){
    document.getElementById('selectEndsAt').disabled=false;
    document.getElementById('error').style.color='red';
    document.getElementById('error').textContent='Do not copy more than 500 emails.';
  
  }else if(range.length<=500){
    document.getElementById('selectEndsAt').disabled=false;
    document.getElementById('error').style.color='green';
    document.getElementById('error').textContent='Successfully copied '+count+' emails.';
  
  }else{
    document.getElementById('selectEndsAt').disabled=false;
    document.getElementById('error').style.color='green';
    document.getElementById('error').textContent='Everithing is going right.';
  }
}
</script>

<script>
// ------------Enquiry Client---------------

//Click on the email and it will copy that email
function copyEmailFunctionE(id) {
  /* Get the text field */
  var copyText = document.getElementById("myInputE"+id).innerText;  
  // Create a dummy input to copy the string array inside it
  var dummy = document.createElement("input");
  // Add it to the document
  document.body.appendChild(dummy);
  // Set its ID
  dummy.setAttribute("id", "dummy_id");
  // Output the array into it
  document.getElementById("dummy_id").value=copyText;
  // Select it
  dummy.select();
  // Copy its contents
  document.execCommand("copy");
  // Remove it as its not needed anymore
  document.body.removeChild(dummy);
  document.getElementById("myInputE"+id).innerText = "COPIED";
  /* Alert the copied text */
  setInterval(function(){ document.getElementById("myInputE"+id).innerText = copyText; }, 3000);
}


// For search bar 
function filterFunctionE() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInputE");
  filter = input.value.toUpperCase();
  div = document.getElementById("list2");
  a = div.getElementsByTagName("tr");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}


// sorting number of emails and copy all of them using above functions 
function sortingEmailsE() {
  // getting the value from input
  var selectStartsFrom = document.getElementById('selectStartsFromE').value;
  var selectEndsAt     = document.getElementById('selectEndsAtE').value;
  var selectEndsAt     = (selectEndsAt=="")?selectStartsFrom:selectEndsAt;  
  
  //Creating a list between range
  var range = [];
  for (var i = parseInt(selectStartsFrom); i <= selectEndsAt; i++) {
    range.push(i);
  }
  
  // Removing rows which are not in range
  var a, i, emails='', count=0;
  div    = document.getElementById("list2");
  a      = div.getElementsByTagName("tr");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].cells[0].textContent || a[i].cells[0].innerText;
    if(range.includes(parseInt(txtValue))){
      a[i].style.display = "";
      emails += a[i].cells[3].textContent+';';
      count++;
    }else {
      a[i].style.display = "none";
    }
  }
  
  // Copy emails  
  // Create a dummy input to copy the string array inside it
  var dummyy = document.createElement("input");
  // Add it to the document
  document.body.appendChild(dummyy);
  // Set its ID
  dummyy.setAttribute("id", "dummyy_id");
  // Output the array into it
  document.getElementById("dummyy_id").value=emails;
  // Select it
  dummyy.select();
  // Copy its contents
  document.execCommand("copy");
  // Remove it as its not needed anymore
  document.body.removeChild(dummyy);  
  
  
  // VALIDATING INPUTS
  if (selectStartsFrom==''){
    if (selectStartsFrom=='' && selectEndsAt==''){
      filterFunctionE(); // Showing all emails as no shortig 
    } else{
      document.getElementById('errorE').style.color='red';
      document.getElementById('errorE').textContent='You must fillup "Starts from" first.';
      document.getElementById('selectEndsAtE').value='';
      document.getElementById('selectEndsAtE').disabled=true;
      filterFunctionE(); // showing all emails
    }
  }else if(range.length>500){
    document.getElementById('selectEndsAtE').disabled=false;
    document.getElementById('errorE').style.color='red';
    document.getElementById('errorE').textContent='Do not copy more than 500 emails.';
  
  }else if(range.length<=500){
    document.getElementById('selectEndsAtE').disabled=false;
    document.getElementById('errorE').style.color='green';
    document.getElementById('errorE').textContent='Successfully copied '+count+' emails.';
  
  }else{
    document.getElementById('selectEndsAtE').disabled=false;
    document.getElementById('errorE').style.color='green';
    document.getElementById('errorE').textContent='Everithing is going right.';
  }
}

</script>

<script>
// ------------Imported Client---------------
{% for market in marketing %}
//Click on the email and it will copy that email
function copyEmailFunctionI{{market.id}}(id) {
  /* Get the text field */
  var copyText = document.getElementById("myInputI"+id).innerText;  
  // Create a dummy input to copy the string array inside it
  var dummy = document.createElement("input");
  // Add it to the document
  document.body.appendChild(dummy);
  // Set its ID
  dummy.setAttribute("id", "dummy_id");
  // Output the array into it
  document.getElementById("dummy_id").value=copyText;
  // Select it
  dummy.select();
  // Copy its contents
  document.execCommand("copy");
  // Remove it as its not needed anymore
  document.body.removeChild(dummy);
  document.getElementById("myInputI"+id).innerText = "COPIED";
  /* Alert the copied text */
  setInterval(function(){ document.getElementById("myInputI"+id).innerText = copyText; }, 3000);
}


// For search bar 
function filterFunctionI{{market.id}}() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInputI{{market.id}}");
  filter = input.value.toUpperCase();
  div = document.getElementById("listI{{market.id}}");
  a = div.getElementsByTagName("tr");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";
    }
  }
}


// sorting number of emails and copy all of them using above functions 
function sortingEmailsI{{market.id}}() {
  // getting the value from input
  var selectStartsFrom = document.getElementById('selectStartsFromI{{market.id}}').value;
  var selectEndsAt     = document.getElementById('selectEndsAtI{{market.id}}').value;
  var selectEndsAt     = (selectEndsAt=="")?selectStartsFrom:selectEndsAt;  
  
  //Creating a list between range
  var range = [];
  for (var i = parseInt(selectStartsFrom); i <= selectEndsAt; i++) {
    range.push(i);
  }
  
  // Removing rows which are not in range
  var a, i, emails='', count=0;
  div    = document.getElementById("listI{{market.id}}");
  a      = div.getElementsByTagName("tr");
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].cells[0].textContent || a[i].cells[0].innerText;
    if(range.includes(parseInt(txtValue))){
      a[i].style.display = "";
      emails += a[i].cells[1].textContent+';';
      count++;
    }else {
      a[i].style.display = "none";
    }
  }
  
  // Copy emails  
  // Create a dummy input to copy the string array inside it
  var dummyy = document.createElement("input");
  // Add it to the document
  document.body.appendChild(dummyy);
  // Set its ID
  dummyy.setAttribute("id", "dummyy_id");
  // Output the array into it
  document.getElementById("dummyy_id").value=emails;
  // Select it
  dummyy.select();
  // Copy its contents
  document.execCommand("copy");
  // Remove it as its not needed anymore
  document.body.removeChild(dummyy);  
  
  
  // VALIDATING INPUTS
  if (selectStartsFrom==''){
    if (selectStartsFrom=='' && selectEndsAt==''){
      filterFunctionE(); // Showing all emails as no shortig 
    } else{
      document.getElementById('errorI{{market.id}}').style.color='red';
      document.getElementById('errorI{{market.id}}').textContent='You must fillup "Starts from" first.';
      document.getElementById('selectEndsAtI{{market.id}}').value='';
      document.getElementById('selectEndsAtI{{market.id}}').disabled=true;
      filterFunctionE(); // showing all emails
    }
  }else if(range.length>500){
    document.getElementById('selectEndsAtI{{market.id}}').disabled=false;
    document.getElementById('errorI{{market.id}}').style.color='red';
    document.getElementById('errorI{{market.id}}').textContent='Do not copy more than 500 emails.';
  
  }else if(range.length<=500){
    document.getElementById('selectEndsAtI{{market.id}}').disabled=false;
    document.getElementById('errorI{{market.id}}').style.color='green';
    document.getElementById('errorI{{market.id}}').textContent='Successfully copied '+count+' emails.';
  
  }else{
    document.getElementById('selectEndsAtI{{market.id}}').disabled=false;
    document.getElementById('errorI{{market.id}}').style.color='green';
    document.getElementById('errorI{{market.id}}').textContent='Everithing is going right.';
  }
}
{% endfor %}
</script>

        
{% endblock %}