{% extends 'manager/_base.html' %}
{% load static %}

{% block content %}

<div class="content mt-3">
  {% if success_message %}
    <div class="col-sm-12">
        <div class="alert  alert-success alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-success">Successfully</span> {{success_message}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>	
  {% endif %}          
  {% if error_message %}
    <div class="col-sm-12">
        <div class="alert  alert-danger alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-danger">Failed</span> {{error_message}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>	
  {% endif %}            
</div>        
 
        
<div class="col-lg-12">
  <!-- Collapsable Card Example -->
  <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Custom Package Request</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample">    
      <div class="card-body">  
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home100" role="tabpanel" aria-labelledby="home100-tab">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Tour Packages 
                <sup><span class="badge badge-success badge-counter" style="font-size:10px;">{{package_tours.count}}</span></sup></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Islamic Packages 
                <sup><span class="badge badge-success badge-counter" style="font-size:10px;">{{package_islamics.count}}</span></sup></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="home1-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home1" aria-selected="false">Air Tickets 
                <sup><span class="badge badge-success badge-counter" style="font-size:10px;">{{package_air_tickets.count}}</span></sup></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile1-tab" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile1" aria-selected="false">Visa Processing 
                <sup><span class="badge badge-success badge-counter" style="font-size:10px;">{{package_visas.count}}</span></sup></a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Sl.</th>
                      <th scope="col">ID</th>
                      <th scope="col">Client Name / Title</th>
                      <th scope="col">Type</th>
                      <th scope="col">Total Price / Members</th>
                      <th scope="col">See More</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for package_tour in package_tours %}
                    {% if package_tour.client_price == 0 %}
                      <tr style="color:red;">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>CPT{{ package_tour.id}}</td>
                        <td>{{ package_tour.client.name }}</td>
                        <td>{{ package_tour.get_type_display }}</td>	  
                        <td>{{ package_tour.client_price }}</td>   
                        <td><a href="{% url 'm_package_tour_details' package_tour.id %}"><i class="fas fa-eye"></i></a></td>
                      </tr>
                    {% else %}                       
                    {% endif %}
                    {% endfor %}
                    
                    {% for tour in tours %}
                    {% if tour.actual_price == 0 %}
                      <tr style="color:red;">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>PT{{ tour.id}}</td>
                        <td>{{ tour.title }}</td>
                        <td>{{ tour.get_type_display }}</td>	  
                        <td>{{ tour.members }}</td>   
                        <td><a href="{% url 'm_tour_details' tour.id %}"><i class="fas fa-eye"></i></a></td>
                      </tr>
                    {% else %}                       
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Sl.</th>
                      <th scope="col">ID</th>
                      <th scope="col">Client Name / Title</th>
                      <th scope="col">Type</th>
                      <th scope="col">Total Price / Members</th>
                      <th scope="col">See More</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for package_islamic in package_islamics %}
                    {% if package_islamic.client_price == 0 %}
                      <tr style="color:red;">
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>CPI{{ package_islamic.id }}</td>
                      <td>{{ package_islamic.client.name }}</td>
                      <td>{{ package_islamic.get_type_display }}</td>	
                      <td>{{ package_islamic.client_price }}</td> 	  
                      <td><a href="{% url 'm_package_islamic_details' package_islamic.id %}"><i class="fas fa-eye"></i></a></td>
                    </tr>
                    {% else %}                     
                    {% endif %}
                    {% endfor %}
                    
                    {% for islamic in islamics %}
                    {% if islamic.actual_price == 0 %}
                      <tr style="color:red;">
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>PI{{ islamic.id}}</td>
                        <td>{{ islamic.title }}</td>
                        <td>{{ islamic.get_type_display }}</td>	  
                        <td>{{ islamic.members }}</td>   
                        <td><a href="{% url 'm_islamic_details' islamic.id %}"><i class="fas fa-eye"></i></a></td>
                      </tr>
                    {% else %}                       
                    {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="home1" role="tabpanel" aria-labelledby="home1-tab">
                <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Sl.</th>
                  <th scope="col">ID</th>
                  <th scope="col">Client Name / Departure</th>
                  <th scope="col">Airline</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">See More</th>
                </tr>
              </thead>
              <tbody>
                {% for package_air_ticket in package_air_tickets %}
                {% if package_air_ticket.client_price == 0 %}
                 <tr style="color:red;">
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>CPA{{ package_air_ticket.id }}</td>
                  <td>{{ package_air_ticket.client.name }}</td>
                  <td>{{ package_air_ticket.airline }}</td>	    
                  <td>{{ package_air_ticket.client_price }}</td>  
                  <td><a href="{% url 'm_package_air_ticket_details' package_air_ticket.id %}"><i class="fas fa-eye"></i></a></td>
                </tr>
                {% else %}                 
                {% endif %}
                {% endfor %}
                
                {% for air_ticket in air_tickets %}
                {% if air_ticket.actual_price == 0 %}
                 <tr style="color:red;">
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>PA{{ package_air_ticket.id }}</td>
                  <td>{{ air_ticket.departure }}</td>
                  <td>{{ air_ticket.airline }}</td>	    
                  <td>{{ air_ticket.client_price }}</td>  
                  <td><a href="{% url 'm_air_ticket_details' air_ticket.id %}"><i class="fas fa-eye"></i></a></td>
                </tr>
                {% else %}                 
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
              </div>
              <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile1-tab">
                <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Sl.</th>
                  <th scope="col">ID</th>
                  <th scope="col">Client Name</th>
                  <th scope="col">Country Name</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">See More</th>
                </tr>
              </thead>
              <tbody>
                {% for package_visa in package_visas %}
                {% if package_visa.client_price == 0 %}
                  <tr style="color:red;">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>CPV{{ package_visa.id }}</td>
                    <td>{{ package_visa.client.name }}</td>
                    <td>{{ package_visa.country_name }}</td>	 	  
                    <td>{{ package_visa.client_price }}</td>	  
                    <td><a href="{% url 'm_package_visa_details' package_visa.id %}"><i class="fas fa-eye"></i></a></td>
                  </tr>                
                {% else %}                  
                {% endif %}
                {% endfor %}
                
                {% for visa in visas %}
                {% if visa.actual_price == 0 %}
                  <tr style="color:red;">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>PV{{ visa.id }}</td>
                    <td></td>
                    <td>{{ visa.country_name }}</td>	 	  
                    <td>{{ visa.client_price }}</td>	  
                    <td><a href="{% url 'm_visa_details' visa.id %}"><i class="fas fa-eye"></i></a></td>
                  </tr>                
                {% else %}                  
                {% endif %}
                {% endfor %}
              </tbody>
            </table>
              </div>
            </div>
          </div>                
          
        </div>        
      </div>
    </div>
  </div>
</div>


        
{% endblock %}