{% extends 'employee/_base.html' %}
{% load static %}

{% block content %}

<div class="content mt-3">
  {% if success_message %}
    <div class="col-sm-12">
        <div class="alert  alert-success alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-success">Successfully</span> {{success_message}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>	
  {% endif %}          
  {% if error_message %}
    <div class="col-sm-12">
        <div class="alert  alert-danger alert-dismissible fade show" role="alert">
            <span class="badge badge-pill badge-danger">Failed</span> {{error_message}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>	
  {% endif %}            
</div>        

<div class="col-lg-12">
  <!-- Collapsable Card Example -->
  <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">New Client Add</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse no-show" id="collapseCardExample">
      <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">New Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Enquiry Client</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form action="{% url 'e_client_add' %}" method="POST" enctype="multipart/form-data">
            <br />
              {% csrf_token %}     
              {% for f in form %}
                 {{ f.label }}          
                 {{ f }}          
                 {{ f.errors }}          
              {% endfor %}     
              <br />
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <form action="{% url 'e_enquiry_client_add' %}" method="POST" enctype="multipart/form-data">
            <br />
              {% csrf_token %}     
              {% for f in enquiry_form %}
                 {{ f.label }}          
                 {{ f }}          
                 {{ f.errors }}          
              {% endfor %}     
              <br />
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>         
      </div>
    </div>
  </div>
</div>     
        
<div class="col-lg-12">
  <!-- Collapsable Card Example -->
  <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Client Details</h6>
    </a>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder=" Search by phone numbers..">      
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample">    
      <div class="card-body">       
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home1-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home1" aria-selected="true">Registered Client</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile1-tab" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile1" aria-selected="false">Enquiry Client</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home1-tab">
            <table class="table table-hover" id="myTable">
              <thead>
                <tr>
                  <th scope="col">Sl.</th>
                  <th scope="col">ID</th>
                  <th scope="col">Client Name</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Profession</th>
                  <th scope="col">See More</th>
                </tr>
              </thead>
              <tbody>
                {% for client in clients %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>C{{ client.id }}</td>
                  <td>{{ client.name }}</td>
                  <td>0{{ client.phone }}</td>	  
                  <td>{{ client.profession }}</td>	   
                  <td><a href="{% url 'e_client_details' client.id %}"><i class="fas fa-eye"></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile1-tab">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Sl.</th>
                  <th scope="col">Client ID</th>
                  <th scope="col">Client Name</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Profession</th>
                  <th scope="col">See More</th>
                </tr>
              </thead>
              <tbody>
                {% for client in enquiry_clients %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>E{{ client.id }}</td>
                  <td>{{ client.name }}</td>
                  <td>0{{ client.phone }}</td>	  
                  <td>{{ client.profession }}</td>	    
                  <td><a href="{% url 'e_enquiry_client_details' client.id %}"><i class="fas fa-eye"></i></a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>

<script>
function autoFill(){
    name = document.getElementById('id_name').value;
    phone = document.getElementById('id_phone').value;
    email = document.getElementById('id_email').value;
    profession = document.getElementById('id_profession').value;
    address    = document.getElementById('id_address').value;
    document.getElementById('e_name').value = name;
    document.getElementById('e_phone').value = phone;
    document.getElementById('e_email').value = email;
    document.getElementById('e_profession').value = profession;
    document.getElementById('e_address').value = address;
}
function eautoFill(){
    ename = document.getElementById('e_name').value;
    ephone = document.getElementById('e_phone').value;
    eemail = document.getElementById('e_email').value;
    eprofession = document.getElementById('e_profession').value;
    eaddress    = document.getElementById('e_address').value;
    document.getElementById('id_name').value = ename;
    document.getElementById('id_phone').value = ephone;
    document.getElementById('id_email').value = eemail;
    document.getElementById('id_profession').value = eprofession;
    document.getElementById('id_address').value = eaddress;
}




function myFunction() {
  // Declare variables 
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    } 
  }
}
</script>
        
{% endblock %}