{% extends "manager/_base.html" %}
{% load static %}
{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <div class="d-none d-sm-inline-block btn btn-sm  shadow-sm">
    <a href="{% url 'm_package_tour' %}" ><img src="{% static 'manager/img/tour.png' %}" style="width:60px;"></a>
    <a href="{% url 'm_package_islamic' %}"><img src="{% static 'manager/img/hajj.png' %}" style="width:60px;"></a>
    <a href="{% url 'm_package_air_ticket' %}"><img src="{% static 'manager/img/air_ticket.png' %}" style="width:60px;"></a>
    <a href="{% url 'm_package_visa' %}"><img src="{% static 'manager/img/visa.png' %}" style="width:60px;"></a>
  </div>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Sell (Annual)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><span style="font-weight:800;">৳</span> {{total_sell}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Cost (Annual)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><span style="font-weight:800;">৳</span> {{total_cost}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Annual)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><span style="font-weight:800;">৳</span> {{total_earning}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger  shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Expenditure (Annual)</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><span style="font-weight:800;">৳</span> {{total_expenditure}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Total Package Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Package</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_packages}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Total Client Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Client</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{clients.count}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Content Row -->
<div class="row">

  <!-- Content Column -->
  <div class="col-lg-12 mb-4">

    <!-- Color System -->
    <div class="row">    
      
      <div class="col-lg-2 mb-4">
      <a href="{% url 'm_client_add' %}" class="a-extra">
        <div class="card bg-success text-white shadow">
          <div class="card-body">
            Client
            <div class="text-white-50 small">#1cc88a</div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-lg-2 mb-4">
      <a href="{% url 'm_employee_add' %}" class="a-extra">
        <div class="card bg-info text-white shadow">
          <div class="card-body">
            Employee
            <div class="text-white-50 small">#36b9cc</div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-lg-2 mb-4 ">
      <a href="{% url 'm_tour_add' %}" class="a-extra">
        <div class="card bg-primary text-white shadow">
          <div class="card-body">
            Tour
            <div class="text-white-50 small">#4e73df</div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-lg-2 mb-4">
      <a href="{% url 'm_islamic_add' %}" class="a-extra">
        <div class="card bg-warning text-white shadow">
          <div class="card-body">
            Islamic
            <div class="text-white-50 small">#f6c23e</div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-lg-2 mb-4">
      <a href="{% url 'm_air_ticket_add' %}" class="a-extra">
        <div class="card bg-danger text-white shadow">
          <div class="card-body">
            Air Ticket
            <div class="text-white-50 small">#e74a3b</div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-lg-2 mb-4">
      <a href="{% url 'm_visa_add' %}" class="a-extra">
        <div class="card bg-secondary text-white shadow">
          <div class="card-body">
            Visa Processing
            <div class="text-white-50 small">#858796</div>
          </div>
        </div>
      </a>
      </div>
    </div>

  </div>

   <!-- </div> -->
</div>







<!-- Content Row -->

<div class="row">
  <!-- Area Chart -->
  <div class="col-xl-6 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Yearly Earning Overview:</div>
            <form action="{% url 'm_index' %}" method="GET">
              <input class="dropdown-item" type="number" name="year" min="1900" max="3099" step="1" value="2019" />
            
              <div class="dropdown-divider"></div>
                <input class="dropdown-item" type="submit" value="Search" />
            </form>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area">
          <canvas id="myAreaChart"></canvas>          
<script>
var earn_val = new Array("{{earning_overview.0}}","{{earning_overview.1}}","{{earning_overview.2}}",
                  "{{earning_overview.3}}","{{earning_overview.4}}","{{earning_overview.5}}",
                  "{{earning_overview.6}}","{{earning_overview.7}}","{{earning_overview.8}}",
                  "{{earning_overview.9}}","{{earning_overview.10}}","{{earning_overview.11}}",);
</script>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  <!-- Area Chart -->
  <div class="col-xl-6 col-lg-6">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Cost Overview</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Yearly Cost Overview:</div>
            <form action="{% url 'm_index' %}" method="GET">
              <input class="dropdown-item" type="number" name="year" min="1900" max="3099" step="1" value="2019" />
            
              <div class="dropdown-divider"></div>
                <input class="dropdown-item" type="submit" value="Search" />
            </form>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area">
          <canvas id="myAreaChart2"></canvas>          
<script>
var cost_val = new Array("{{cost_overview.0}}","{{cost_overview.1}}","{{cost_overview.2}}",
                  "{{cost_overview.3}}","{{cost_overview.4}}","{{cost_overview.5}}",
                  "{{cost_overview.6}}","{{cost_overview.7}}","{{cost_overview.8}}",
                  "{{cost_overview.9}}","{{cost_overview.10}}","{{cost_overview.11}}",);
</script>
        </div>
      </div>
    </div>
  </div>

 
</div>

{% endblock %}
